{% extends "base.html" %}
{% load static %}

{% block title %}
contact page
{% endblock title %}
{% block content %}
<div class="main-div">
    <div class="plain-1"></div>
    <div class="main-content">
      <h1 class="contact-us">CONTACT US</h1>
      <input type="text" name="" id="enter-your-name" placeholder="Enter you name">
      <input type="text" name="" id="enter-valid-email" placeholder="Enter valid email">
      <input type="text" name="" id="content" placeholder="">
      <a href="" id="submit">submit</a>
    </div>
    <div class="plain-3"></div>
    <div></div>
</div>
{% endblock %}
 